@charset "utf-8";
/* CSS Document */
.container-fluid{	font-family:"Gill Sans MT"; background: #FFF9F9;}
.hangdautien{
	display: flex;
}
.feedbackthongtin{
	border-radius: 20px;
	background: #FF2C91;
	position: fixed;
	bottom: 0;
	right:0;
	text-align: center;
	width:100px;
	height:50px;
	padding: 12px 0px;
	cursor: pointer;
	z-index: 10;
}
.feedbackthongtin a{
	text-decoration: none;
	
	color: #FFF9F9;
}
.nhanhang{
	margin: auto;
	padding-top: 5px;
	padding-bottom: 20px;
	flex: 1;
}
.hinhnho{
	color: #291000;
	padding-top: 50px;
	padding-right: 20px;
	flex:1;
	text-align: end;
}

.bi-person:hover{
	color:#FF2C91;
}
.bi-heart:hover{
	color:#FF2C91;
}
.bi-search:hover{
	color:#FF2C91;
}
.bi-bag:hover{
	color:#FF2C91;
}

.feedback{
	padding-top: 50px;
	padding-left: 20px;
	flex:1;
	text-align: START;
}
.bi{
	font-size: 25px;
}
.navbar-collapse{
	margin: auto;
	display: flex;
	flex-direction:column;
}
.me-auto{
	flex: 2;
	margin: auto;
}
.navbar{
	background: #FFF9F9;
}
.navbar:hover{
	background: #FFE0F3;
	border-radius: 10px;
}
.nav-item{
	padding-right: 40px;
	font-size: 21px;
}
.nav-item1{
	padding-right: 0px;
	font-size: 21px;
}
.menu{
	color: #FF2C91;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.menu:hover{
	color: #FFFFFF;
	box-shadow:  inset 500px 0 0 0 #FF2C91;
}
.dropdown-menu{
	background: #FFF9F9;
	border: none;
}
.aboutus{
	margin: auto;
	border-radius: 10px;
	padding-bottom: 150px;
	background: #FFE0F3;
	width: 1335px;
	height: 800px;
}
.aboutus video{
	object-fit: cover;
    object-position: center;
	width:1335px;
	height:800px;
	z-index: 2;
}
.hang1au img{
	position: absolute;
	z-index: 1;
	left: 600px;
	bottom: 0px;
}
.hang2au>h1{
	position: absolute;
	z-index: 1;
	left: 550px;
	bottom: -50px;
	color: #FFF9F9;
	font-style: italic;
}
.hinhanhminhhoa{
	padding: 0px 150px 100px;

}
.hinhanhminhhoa>h1{
	color: #FF2C91;
	text-align: center;
	padding: 50px;
}
.hang2>h2{
	padding-top: 30px;
	padding-left: 168px;
	color: #FF2C91;
}
.hinhvavideo{
	display:flex;
}
.hinh1{
	padding-right:20px;
}
.hinh1 img{
	border-radius: 10px;
	height: 950px;
}
.videomau video{
	border-radius: 10px;
	width: 265px;
}

.hang2>h2{
	padding-bottom: 50px;
}

.hang2{
	padding: 0px 150px;
}
.ndhang2{	
	display: flex;
	flex-direction: row;
}
.space1{
	padding: 20px;
}
..slide{
	width: 1500px;
    height: 800px;
}
.carousel-item img {
	object-fit: cover;
    object-position: center;
	width: 1500px;
    height: 800px;
}
.sanpham1{
	width: 350px;
	height: 700px;
	position: relative;
	display: inline-block;
	margin: auto;
}
.sanpham1 img{
	border-radius: 10px 10px 0px 0px;
}
.sanpham1 a{
	text-decoration: none;
}
.son1{
	width: 350px;
	border-radius: 10px 10px 0px 0px;
}.son2{
	width: 362px;
	padding-left: 11px;
	border-radius: 10px 10px 0px 0px;
}
.sanpham1 .son2{
	display: none; 
	position: absolute;
	top: 0;
	left:0;
	z-index: 2;
}
.sanpham1:hover .son2{
	display: inline;
}
.sanpham1:hover {
	transform: translateY(-5px);
}
.footeronho{
	cursor: pointer;
	border-radius: 0px 0px 10px 10px;
	text-align: left;
	background: #FFE0F3;
	color: #FF2C91;
	padding: 20px;
	width: 350px;
	left: 0px;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.footeronho:hover{
	height: 170px;
	color: #fff;
	box-shadow: inset 350px 0 0 0 #FF2C91;
}
.bi-stars{
	color: #FF2C91;
}
.bi-star-fill{
	font-size:15px;
	padding-right: 2px;
}
.bi-star-half{
	padding-right: 2px;
	font-size:15px;
}
.footeronho>p{
	color: #291000;
}

.sanphamhang3{
	margin: auto;
	padding: 100px 80px;
	display: flex;
}
.canhbenvid{
	height: 655px;
	flex: 1;
	padding-top: 150px;;
	text-align: center;
	color: #FF2C91;
	background: #fff;
}
.canhbenvid>h3{
	font-family:  "Segoe UI";
}
.canhbenvid>h7{
	color: #291000;
}
.sub{
	color: #FFCA00;
	padding-bottom: 10px;
}
.ndcanhbenvid{
	padding-bottom: 30px;
}
.ndcanhbenvid>h7{
	color: #291000;
}
.btnshopnow{
	border-radius: 7px;
	font-size: 20px;
	background: #FF2C91;
}
.btnshopnow a{
	color: white;
	text-decoration: none;
}
.btnshopnow:hover{
	margin: auto;
	border-radius: 7px;
	background: white;
	border: 1px solid #FF2C91;
}
.btnshopnow a:hover{
	color: #FF2C91;
}
.sanphamhang4{
	margin: auto;
	text-align: center;
}
.sanphamhang4>h2{
	color: #FF2C91;
}
.sanphamhang4>p{
	color: #FFC532;
}
.sanphamhang4>h4{
	color: #291000;
}
.footer{
	padding-top: 50px;
	text-align: center;
	color: #FF2C91;
	background:  #FFE0F3;
}
.thongtinlienheofooter{
	display: flex;
	margin:auto;
	padding: 20px;
}
.thongtin{
	padding:10px;
}
.thanhtimkiem>h4{
	padding-bottom: 5px;
}
.signupforupdate{
	display: flex;
	margin: auto;
	text-align: center;
	padding-bottom: 45px;
}
.me-222{
	border-radius: 7px 3px;
	border: 1px solid #FF2C91;
	color: #FF2C91;
	background: rgba(0, 0, 0, 0)
}
.nutdep{
	border-radius: 5px 5px;
	color: #FF2C91;
	border: 1px solid #FF2C91;
	background: rgba(0, 0, 0, 0);
}
.nutdep:hover {
	border-radius: 5px 5px;
	color: white;
	border: none;
	background: #FF2C91;;
}
.space{
	padding: 75px;
}
.space1{ 
	padding: 15px;
}




